html,body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
#quizform{
    height: 800px;
    width: 500px;
    border: 1px solid red;
    padding: 20px;
}
button{
    margin-top: 20px;
    margin-left: 20px;
}