html,body{
    height: 100vh;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
    background-color: black;
    color: antiquewhite;
}
#name{
    color: red;
    font-family: monospace;
    font-size: 80px;
}