* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  height: 100vh;
}

.container{
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: red;
}

.box1{
  height: 100px;
  width: 100px;
  background-color: lightblue;
}
.box2{
  height: 100px;
  width: 100px;
  background-color: lightcoral;
}
.box3{
  height: 100px;
  width: 100px;
  background-color: lightgoldenrodyellow;
}
.box4{
  height: 100px;
  width: 100px;
  background-color: lightgreen;
}