* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f9f9fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 400px;
  width: 500px;
  background-color: #e6e9ed;
  display: flex;
  flex-direction: column;
}
.signin{
  font-size: x-large;
  color: red;
  text-align: center;
  margin: 70px 0px 0px 0px;
  background-color: blue;
}
.form{
  margin-left: 22%;
  margin-top: 20px;
}
label{
  font-size: large;
  font-weight: bolder;
}
input{
  height: 30px;
  width: 250px;
  margin-top: 10px;
}