table{
    width: 50%;
    height: 30vh;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    border: 1px solid rgb(195, 65, 87);
}
thead tr{
    color: red;
    background-color: rgb(205, 201, 201);
}
