*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

#first{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.user{
    width: 150px;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: orange;
}
element{
    overflow: hidden;
}
.user{
    overflow: hidden;
}